:root {
  --bg: black;
  --primary: #50e357;
  --blue: #0c46d3;
  --black: #101010;
  --green: #388e3c;
  --gray: #979797;
  --blood: #ea4335;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Georama" !important;
}

.typography,
.typography * {
  font-family: "Anton" !important;
}

@media screen and (max-width: 1000px) {
  .post-grid {
    display: block !important;
  }
}
